<%= render "shared/notifications" %>
<div class="container-fiuld user">
  <div class="row">
    <div class="col-lg-2 user-nav user-nav-pc d-lg-block d-none">
      <ul>
        <li class=""><a href="/users/account">アカウント</a></li>
        <li class="active"><a href="/users/profile">プロフィール</a></li>
      </ul>
    </div>
    <div class="col-lg-2 user-nav user-nav-mobile d-lg-none">
      <ul>
        <li class=""><a href="/users/account">アカウント</a></li>
        <li class="active"><a href="/users/profile">プロフィール</a></li>
      </ul>
    </div>
    <div class="col-lg-10 user-view">
      <div class="user-view-box">
        <div class="update-content">
          <div class="row">
            <h5>プロフィール</h5>
          </div>
        </div>
        <%= form_with model: @user, class: "edit_user", id: "edit_user_#{current_user.id}", method: :patch do |f| %>
        <div class="update-content">
          <div class="row">
            <div class="col-md-6 offset-md-3">
              <div class="icon-box">
                <%= image_tag current_user.image.url, alt: "アイコン画像", class: "icon-image host-icon" %>
              </div>
            </div>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :image ,"アイコン画像", class: "col-md-3 required-a" %>
            <%= f.file_field :image, class: "mb-4 col-md-9", :placeholder => "アイコン画像をアップロード" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :name ,"名前", class: "col-md-3 required-a" %>
            <%= f.text_field :name, class: "form-control mb-4 col-md-9", :placeholder => "名前を入力" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.label :introduction ,"自己紹介", class: "col-md-3 required-a" %>
            <%= f.text_area :introduction, rows: "5", class: "form-control mb-4 col-md-9", :placeholder => "自己紹介を入力" %>
          </div>
        </div>
        <div class="update-content">
          <div class="row">
            <%= f.submit "更新", class: "col-md-2 btn btn-primary mx-3", data: { disable_with: "更新" } %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
